:root{
  --primario: #1073BA;
  --secundario: #00DA55;
  --gris: #3B3B3B;
  --blanco: #FFFFFF;
  --negro: #1F1F1F;
  --grisClaro: #E1E1E1;

  --separacion: 5rem;

  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Reset para rems  62.5% = 10 px de 16px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* * GLOBALES */
.contenedor{
  max-width: 120rem; /* ancho maximo */
  width: 90%; /* porcentaje del ancho < 120rem */
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: calc( var(--separacion) / 2 ) 0;
}

h1{
  font-size: 4.4rem;
}

h2{
  font-size: 3.6rem;
}

h1{
  font-size: 2.8rem;
}

img{
  max-width: 100%;
  display: block;
}

/** UTILIDADES  */
.text-center{
  text-align: center;
}

